body{
    margin: 0;
    padding: 0;
}
.bg{
    position: relative;
    background: #00fdff url(yol.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 25s linear infinite;
}


.bisiklet .tekerlek{
    position: absolute;
    margin: auto;
    left: 0%;   
    bottom: 0%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #151515;
    z-index:2;
    
}
.bisiklet .jant{
    position: absolute;
    margin: auto;
    left: 0.25%;
    bottom: 0.5%;    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid blue;
    z-index: 1;
}
.bisiklet .jantic{
    position: absolute;
    margin: auto;
    width: 78px;
    height: 78px;
    bottom: 2.1%;
    left: 1%;    
    border-radius: 50%;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid blue;
    z-index: 1;
    animation: rt 2s infinite linear;
    background: rgba(200, 100, 100, 0.3);
    
}
.bisiklet .tel{
    position: absolute;
    margin: auto;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: black;
    bottom: 5%;
    left: 2.6%;
}

/* BİSİKLET İSKELETİ*/

.bisiklet .demir{
    position: absolute;
    margin: auto;
    bottom: 5.5%;
    left: 3%;
    width: 140px;
    height: 5px;
    background: black;
    border-radius: 5px;
    z-index: 3;
}
.bisiklet .demir1{
    position: absolute;
    margin: auto;
    bottom: 12%;
    left: calc(180px / 2);
    transform: rotate(60deg);
    width: 140px;
    height: 5px;
    background: black;
    border-radius: 5px;
    z-index: 3;
    
}
.bisiklet .demir2{
    position: absolute;
    margin: auto;
    bottom: 12%;
    left: calc(44px / 2);
    transform: rotate(-60deg);
    width: 140px;
    height: 5px;
    background: black;
    border-radius: 5px;
    z-index: 3;
    
}

.bisiklet .demir3{
    position: absolute;
    margin: auto;
    bottom: 18%;
    left: 6.5%;
    width: 120px;
    height: 5px;
    background: black;
    border-radius: 5px;
    z-index: 3;
}
.bisiklet .demir4{
    position: absolute;
    margin: auto;
    bottom: 12%;
    left: 10.9%;
    width: 135px;
    height: 5px;
    transform: rotate(60deg);
    background: black;
    border-radius: 5px;
    z-index: 3;
}
.bisiklet .demir5{
    position: absolute;
    margin: auto;
    bottom: 10%;
    left: 9%;
    width: 110px;
    height: 5px;
    transform: rotate(-55deg);
    background: black;
    border-radius: 5px;
    z-index: 3;
}


/* KOLTUK*/
.bisiklet .koltuk1{
    position: absolute;
    margin: auto;
    bottom: 19.5%;
    left: calc(208px / 2);
    transform: rotate(60deg);
    width: 30px;
    height: 5px;
    background: blue;
    border-radius: 5px;
    z-index: 3;
}
.bisiklet .koltuk2{
    position: absolute;
    margin: auto;
    bottom: 21.1%;
    left: calc(200px / 2);    
    width: 45px;
    height: 10px;
    background: black;
    border-top-right-radius: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 2;
}


/* DİREKSİYON*/
.bisiklet .direksiyon1{
    position: absolute;
    margin: auto;
    bottom: 19.5%;
    left: calc(442px / 2);
    transform: rotate(60deg);
    width: 30px;
    height: 5px;
    background: blue;
    border-radius: 5px;
    z-index: 2;
}

.bisiklet .direksiyon2{
    position: absolute;
    margin: auto;
    bottom: 21%;
    left: calc(454px / 2);
    width: 20px;
    height: 5px;
    background: blue;
    border-radius: 5px;
    z-index: 3;
}
.bisiklet .direksiyon3{
    position: absolute;
    margin: auto;
    bottom: 21%;
    left: calc(492px / 2);
    width: 20px;
    height: 5px;
    background: black;
    border-radius: 5px;
    z-index: 3;
}



/* ÖN TEKER*/
.bisiklet .tekeron{
    position: absolute;
    margin: auto;
    left: 13%;   
    bottom: 0%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #151515;
    z-index:2;

}
.bisiklet .janton{
    position: absolute;
    margin: auto;
    left: 13.3%;
    bottom: 0.5%;    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid blue;
    z-index: 1;
}
.bisiklet .onjantic{
    position: absolute;
    margin: auto;
    width: 78px;
    height: 78px;
    bottom: 2.1%;
    left: 14%;    
    border-radius: 50%;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid blue;
    z-index: 1;
    animation: rt 2s infinite linear;
    background: rgba(200, 100, 100, 0.3);
}
.bisiklet .telon{
    position: absolute;
    margin: auto;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: black;
    bottom: 5%;
    left: 15.7%;
}

/* PEDAL*/

.vites{
    position: absolute;
    margin: auto;
    width: 30px;
    height: 30px;
    bottom: 5%;
    left: 9.5%;
    border-radius: 50%;
    background: black;
    z-index: 3;
    
}
.vites .ic_vites{
    position: absolute;
    margin: auto;
    width: 20px;
    height: 20px;
    bottom: 5%;
    left: 9.5%;
    border-radius: 50%;
    border: 3px solid black;
}
.vites .pedal{
    position: absolute;
    margin: auto;
    top: -10px;
    left: 15%;
    width: 20px;
    height: 5px;
    background: blue;
    border-radius: 5px;
    z-index: 3;
}
.vites .parca{
    position: absolute;
    margin: auto;
    width: 20px;
    height: 5px;
    left: 15%;
    top: 10px;
    transform: rotate(-90deg);
    bottom: 100%;
    background: blue;
    border-radius: 5px;
    z-index: 3;
}
.popo{
  position: absolute;
  background: darkblue;
  border-radius: 40px;
  width: 69px;
  height: 45px;
  bottom: 205px;
  left: 80px;
  z-index: 4;
}
.sag-bacak{
    position: absolute;
    margin: auto;
    width: 80px;
    height: 19px;
    transform: rotate(75deg);
    left: 9.7%;
    bottom: 17%;
    background: #bd5239;
    border-radius: 5px;
    transform-origin: left top;    
    z-index: 2;
}
.ayak{
    position: absolute;
    margin: auto;
    bottom: 9.5%;
    left: calc(370px / 2);    
    width: 40px;
    height: 17px;
    background: greenyellow;
    border-top-right-radius: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 2;
}
.baldır{
    position: absolute;
    margin: auto;
    width: 100px;
    height: 19px;
    transform: rotate(-140deg);
    left: 9.2%;
    bottom: 15%;
    background: #bd5239;
    border-radius: 5px;
    transform-origin: left top;    
    z-index: 2;

}

.sort-1{
    position: absolute;
    margin: auto;
    width: 55px;
    height: 19px;
    transform: rotate(-140deg);
    left: 8%;
    bottom: 17.1%;
    background: darkblue;
    border-radius: 5px;
    transform-origin: left top;    
    z-index: 2;

}

.vucut{
  position: absolute;
  background: darkgreen;
  width: 140px;
  height: 45px;
  border-radius: 15px; 
  left: 90px;
  bottom: 245px;
  z-index: 5;
}
.bel{
  position: absolute;
  background:darkgreen ;
  width: 20px;
  height: 45px;
  border-radius: 15px;
  transform: rotate(15deg);
  left: 84px;
  bottom: 245px;
  z-index: 5;
}
.bel2{
  position: absolute;
  background:darkgreen ;
  width: 10px;
  height: 15px;
  border-radius: 15px;
  left: 93px;
  bottom: 245px;
  z-index: 5;
}

.kol1{
    position: absolute;
    margin: auto;
    width: 90px;
    height: 15px;    
    left: 10.5%;
    bottom: 21.5%;
    background: #bd5239;
    border-radius: 5px;
    transform-origin: left top;    
    z-index: 2;
}
.dirsek1{
   position: absolute;
    margin: auto;
    width: 55px;
    height: 15px;    
    left: 11%;
    bottom: 25.7%;
    transform: rotate(90deg);
    background: #bd5239;
    border-radius: 5px;
    transform-origin: left top;    
    z-index: 2;
}
.dirsek2{
  position: absolute;
    margin: auto;
    width: 45px;
    height: 15px;    
    left: 11%;
    bottom: 25.7%;
    transform: rotate(45deg);
    background: #bd5239;
    border-radius: 5px;
    transform-origin: left top;    
    z-index: 2;
}
.kol2{
  position: absolute;
    margin: auto;
    width: 65px;
    height: 10px;    
    left: 12%;
    bottom: 23%;
    background: #bd5239;
    border-radius: 5px;
    transform-origin: left top;    
    z-index: 2;

}

@keyframes animate
{

    from{
        background-position: 0,0;
    }
    to{
        
        background-position: 100% 0;
    }
}
@keyframes rt{
    100%{
        transform: rotate(360deg);
    }
}



.box {
  position: absolute;
  margin: auto;
  left: 40%;
  bottom: 10.5%;
  width: 625px;
  height: 80px;
  border: solid 4px none;
  
}
.bike {
  position: absolute;
}

/* Wheels */
.back-wheel, .front-wheel {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: none;
  
  border: 12px solid #424242;
  box-shadow: inset 0px 0px 0px 5px #fff;
  
  z-index: 2;
}

/* Back wheel */
.back-wheel {
  left: 20px;
}

/* Front wheel*/
.front-wheel {
  left: 340px;
}
/*ROTATION ANIMATION for CASSETTE & SPOKES ~ CW*/
@-webkit-keyframes rotation {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes rotation {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes rotation {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* Cassette for both front and back wheel */
.cassette {
  position: absolute;
  background: white;
  border-radius: 50%;
  border: 4px solid black;
  width: 10px;
  height: 10px;
  top: 45px;
  left: 45px;
  z-index: 2;
  -webkit-animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  -ms-animation: rotation 1s infinite linear;
  -o-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
}

/* Spokes */
._12-6, ._1-7, ._2-8, ._3-9, ._4-10, ._5-11 {
  position: absolute;
  background: orange;
  width: 3px;
  height: 90px;
  top: -40px;
  left: 4px;
  z-index: 1;
}

/* 360deg/12 hrs = 30deg between each hour number change */
._1-7 {
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

._2-8 {
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

._3-9 {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

._4-10 {
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

._5-11 {
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

/*Bike Body Frame ~6 parts */
.bk-lower, .bk-upper, .fr-lower, .fr-upper, .seat-frame, .handlebar-frame {
  position: absolute;
  background: #ed9a18;
  height: 7px;
  z-index: 3;
  border-radius: 20px;
}

.bk-lower {
  top: 65px;
  left: 80px;
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  width: 145px;
}

.bk-upper {
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  width: 150px;
  top: 5px;
  left: 55px;
}

.fr-lower {
  width: 188px;
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  top: 10px;
  left: 200px;
}

.fr-upper {
  width: 180px;
  top: -68px;
  left: 175px;
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.seat-frame {
  width: 180px;
  top: -18px;
  left: 100px;
  -moz-transform: rotate(-111deg);
  -o-transform: rotate(-111deg);
  -ms-transform: rotate(-111deg);
  -webkit-transform: rotate(-111deg);
  transform: rotate(-111deg);
}

.handlebar-frame {
  width: 190px;
  top: -25px;
  left: 280px;
  -moz-transform: rotate(-110deg);
  -o-transform: rotate(-110deg);
  -ms-transform: rotate(-110deg);
  -webkit-transform: rotate(-110deg);
  transform: rotate(-110deg);
}

/*seatpost ~ tipped white */
.seatpost {
  position: absolute;
  width: 30px;
  height: 7px;
  background: #d6d6d6;
  z-index: 5;
  left: 180px;
  }

/* Seat */
.seat {
  position: absolute;
  background: #424242;
  width: 60px;
  height: 15px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 120px;
  border-top-left-radius: 40px;
  border-top-right-radius: 20px;
  top: -140px;
  left: 120px;
  z-index: 4;
}

/* HEADSET and HANDLEBAR section, in order from bottom to top*/
.bar {
  position: absolute;
  z-index: 4;
  border-radius: 10px;
  width: 7px;
  
}

.headset {
  background: #d6d6d6;
  height: 35px;
  top: -143px;
  left: 333px;
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.stem {
  background: #424242;
  height: 35px;
  top: -175px;
  left: 333px;
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

.hb1 {
  background: #424242;
  height: 55px;
  top: -200px;
  left: 315px;
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.hb2 {
  background: #0073b5;
  height: 40px;
  top: -192.2px;
  left: 302px;
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.crankset {
  position: absolute;
  border: 5px solid #dedede;
  background: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  left: 195px;
  top: 35px;
  z-index: 5;
}

/*ROTATION ANIMATION for CRANK ~ CW*/
@-webkit-keyframes crank-rot {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes crank-rot {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes crank-rot {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes crank-rot {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes crank-rot {
  from {
    -moz-transform: rotate(-359deg);
    -o-transform: rotate(-359deg);
    -ms-transform: rotate(-359deg);
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.crank {
  position: absolute;
  background: #dedede;
  width: 5px;
  height: 45px;
  left: 222px;
  top: 24px;
  z-index: 5;
  transform-origin: bottom left;
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  -webkit-animation: crank-rot 1s infinite linear;
  -moz-animation: crank-rot 1s infinite linear;
  -ms-animation: crank-rot 1s infinite linear;
  -o-animation: crank-rot 1s infinite linear;
  animation: crank-rot 1s infinite linear;
}

/* Hub */
.hub {
  position: absolute;
  background: none;
  border: 3px solid #d6d6d6;
  /* grey-tinged white */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 53px;
  left: 76px;
  z-index: 5;
}

/*Chains*/
.chain-upp, .chain-lo {
  position: absolute;
  background: #353535;
  width: 130px;
  height: 4px;
  z-index: 4;
}

.chain-upp {
  top: 45px;
  left: 80px;
  z-index: 4;
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-7deg);
}

.chain-lo {
  top: 78px;
  left: 85px;
  z-index: 4;
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}


.girl {
  position: absolute;
}

/*TORSO */
.chest {
  position: absolute;
  background: #ffbd29;
  width: 70px;
  height: 75px;
  border-radius: 35px;
  left: 120px;
  top: -295px;
  z-index: 4;
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-animation: movechest 1s infinite linear;
  -moz-animation: movechest 1s infinite linear;
  -ms-animation: movechest 1s infinite linear;
  -o-animation: movechest 1s infinite linear;
  animation: movechest 1s infinite linear;
  box-shadow: inset 4px 5px 0px 0px #ecb634;
}

@-webkit-keyframes movechest {
  0% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
  20% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  40% {
    -moz-transform: translate(8px, -6px);
    -o-transform: translate(8px, -6px);
    -ms-transform: translate(8px, -6px);
    -webkit-transform: translate(8px, -6px);
    transform: translate(8px, -6px);
  }
  80% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  100% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
}
@-moz-keyframes movechest {
  0% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
  20% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  40% {
    -moz-transform: translate(8px, -6px);
    -o-transform: translate(8px, -6px);
    -ms-transform: translate(8px, -6px);
    -webkit-transform: translate(8px, -6px);
    transform: translate(8px, -6px);
  }
  80% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  100% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
}
@-ms-keyframes movechest {
  0% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
  20% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  40% {
    -moz-transform: translate(8px, -6px);
    -o-transform: translate(8px, -6px);
    -ms-transform: translate(8px, -6px);
    -webkit-transform: translate(8px, -6px);
    transform: translate(8px, -6px);
  }
  80% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  100% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
}
@-o-keyframes movechest {
  0% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
  20% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  40% {
    -moz-transform: translate(8px, -6px);
    -o-transform: translate(8px, -6px);
    -ms-transform: translate(8px, -6px);
    -webkit-transform: translate(8px, -6px);
    transform: translate(8px, -6px);
  }
  80% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  100% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
}
@keyframes movechest {
  0% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
  20% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  40% {
    -moz-transform: translate(8px, -6px);
    -o-transform: translate(8px, -6px);
    -ms-transform: translate(8px, -6px);
    -webkit-transform: translate(8px, -6px);
    transform: translate(8px, -6px);
  }
  80% {
    -moz-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    transform: translate(3px, -2px);
  }
  100% {
    -moz-transform: translate(-4px, 0px);
    -o-transform: translate(-4px, 0px);
    -ms-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
}
@-webkit-keyframes movebelly {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(20deg);
    -webkit-transform: translate(-4px, 0px) rotate(20deg);
    -moz-transform: translate(-4px, 0px) rotate(20deg);
    -ms-transform: translate(-4px, 0px) rotate(20deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(20deg);
    -webkit-transform: translate(3px, -2px) rotate(20deg);
    -moz-transform: translate(3px, -2px) rotate(20deg);
    -ms-transform: translate(3px, -2px) rotate(20deg);
  }
  40% {
    transform: translate(8px, -6px) rotate(20deg);
    -webkit-transform: translate(8px, -6px) rotate(20deg);
    -moz-transform: translate(8px, -6px) rotate(20deg);
    -ms-transform: translate(8px, -6px) rotate(20deg);
  }
}
@-moz-keyframes movebelly {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(20deg);
    -webkit-transform: translate(-4px, 0px) rotate(20deg);
    -moz-transform: translate(-4px, 0px) rotate(20deg);
    -ms-transform: translate(-4px, 0px) rotate(20deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(20deg);
    -webkit-transform: translate(3px, -2px) rotate(20deg);
    -moz-transform: translate(3px, -2px) rotate(20deg);
    -ms-transform: translate(3px, -2px) rotate(20deg);
  }
  40% {
    transform: translate(8px, -6px) rotate(20deg);
    -webkit-transform: translate(8px, -6px) rotate(20deg);
    -moz-transform: translate(8px, -6px) rotate(20deg);
    -ms-transform: translate(8px, -6px) rotate(20deg);
  }
}
@-ms-keyframes movebelly {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(20deg);
    -webkit-transform: translate(-4px, 0px) rotate(20deg);
    -moz-transform: translate(-4px, 0px) rotate(20deg);
    -ms-transform: translate(-4px, 0px) rotate(20deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(20deg);
    -webkit-transform: translate(3px, -2px) rotate(20deg);
    -moz-transform: translate(3px, -2px) rotate(20deg);
    -ms-transform: translate(3px, -2px) rotate(20deg);
  }
  40% {
    transform: translate(8px, -6px) rotate(20deg);
    -webkit-transform: translate(8px, -6px) rotate(20deg);
    -moz-transform: translate(8px, -6px) rotate(20deg);
    -ms-transform: translate(8px, -6px) rotate(20deg);
  }
}
@-o-keyframes movebelly {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(20deg);
    -webkit-transform: translate(-4px, 0px) rotate(20deg);
    -moz-transform: translate(-4px, 0px) rotate(20deg);
    -ms-transform: translate(-4px, 0px) rotate(20deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(20deg);
    -webkit-transform: translate(3px, -2px) rotate(20deg);
    -moz-transform: translate(3px, -2px) rotate(20deg);
    -ms-transform: translate(3px, -2px) rotate(20deg);
  }
  40% {
    transform: translate(8px, -6px) rotate(20deg);
    -webkit-transform: translate(8px, -6px) rotate(20deg);
    -moz-transform: translate(8px, -6px) rotate(20deg);
    -ms-transform: translate(8px, -6px) rotate(20deg);
  }
}
@keyframes movebelly {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(20deg);
    -webkit-transform: translate(-4px, 0px) rotate(20deg);
    -moz-transform: translate(-4px, 0px) rotate(20deg);
    -ms-transform: translate(-4px, 0px) rotate(20deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(20deg);
    -webkit-transform: translate(3px, -2px) rotate(20deg);
    -moz-transform: translate(3px, -2px) rotate(20deg);
    -ms-transform: translate(3px, -2px) rotate(20deg);
  }
  40% {
    transform: translate(8px, -6px) rotate(20deg);
    -webkit-transform: translate(8px, -6px) rotate(20deg);
    -moz-transform: translate(8px, -6px) rotate(20deg);
    -ms-transform: translate(8px, -6px) rotate(20deg);
  }
}
.belly {
  position: absolute;
  background: #ffbd29;
  width: 55px;
  height: 50px;
  border-radius: 10px;
  left: 111px;
  top: -236px;
  z-index: 5;
  -webkit-animation: movebelly 1s infinite linear;
  -moz-animation: movebelly 1s infinite linear;
  -ms-animation: movebelly 1s infinite linear;
  -o-animation: movebelly 1s infinite linear;
  animation: movebelly 1s infinite linear;
}

.back-shadow {
  position: absolute;
  background: #ecb634;
  height: 100%;
  width: 10%;
}

/* Right Arm */
.r-arm {
  position: absolute;
  background: #bd5239;
  width: 25px;
  height: 210px;
  border-radius: 20px;
  left: 89px;
  top: -32px;
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.r-sleeve {
  position: absolute;
  background: #ed9a18;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 40px;
  height: 55px;
  left: -8px;
}

.r-a-shadow {
  position: absolute;
  background: #8a3828;
  height: 5%;
  width: 100%;
  top: 26%;
}

/* LEFT ARM */
@-webkit-keyframes moveleftarm {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(-55deg);
    -webkit-transform: translate(-4px, 0px) rotate(-55deg);
    -moz-transform: translate(-4px, 0px) rotate(-55deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(-55deg);
    -webkit-transform: translate(3px, -2px) rotate(-55deg);
    -moz-transform: translate(3px, -2px) rotate(-55deg);
  }
  40% {
    transform: translate(8px, -1px) rotate(-55deg);
    -webkit-transform: translate(8px, -1px) rotate(-55deg);
    -moz-transform: translate(8px, -1px) rotate(-55deg);
  }
}
@-moz-keyframes moveleftarm {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(-55deg);
    -webkit-transform: translate(-4px, 0px) rotate(-55deg);
    -moz-transform: translate(-4px, 0px) rotate(-55deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(-55deg);
    -webkit-transform: translate(3px, -2px) rotate(-55deg);
    -moz-transform: translate(3px, -2px) rotate(-55deg);
  }
  40% {
    transform: translate(8px, -1px) rotate(-55deg);
    -webkit-transform: translate(8px, -1px) rotate(-55deg);
    -moz-transform: translate(8px, -1px) rotate(-55deg);
  }
}
@-ms-keyframes moveleftarm {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(-55deg);
    -webkit-transform: translate(-4px, 0px) rotate(-55deg);
    -moz-transform: translate(-4px, 0px) rotate(-55deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(-55deg);
    -webkit-transform: translate(3px, -2px) rotate(-55deg);
    -moz-transform: translate(3px, -2px) rotate(-55deg);
  }
  40% {
    transform: translate(8px, -1px) rotate(-55deg);
    -webkit-transform: translate(8px, -1px) rotate(-55deg);
    -moz-transform: translate(8px, -1px) rotate(-55deg);
  }
}
@-o-keyframes moveleftarm {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(-55deg);
    -webkit-transform: translate(-4px, 0px) rotate(-55deg);
    -moz-transform: translate(-4px, 0px) rotate(-55deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(-55deg);
    -webkit-transform: translate(3px, -2px) rotate(-55deg);
    -moz-transform: translate(3px, -2px) rotate(-55deg);
  }
  40% {
    transform: translate(8px, -1px) rotate(-55deg);
    -webkit-transform: translate(8px, -1px) rotate(-55deg);
    -moz-transform: translate(8px, -1px) rotate(-55deg);
  }
}
@keyframes moveleftarm {
  0%,
  100% {
    transform: translate(-4px, 0px) rotate(-55deg);
    -webkit-transform: translate(-4px, 0px) rotate(-55deg);
    -moz-transform: translate(-4px, 0px) rotate(-55deg);
  }
  20%,
  80% {
    transform: translate(3px, -2px) rotate(-55deg);
    -webkit-transform: translate(3px, -2px) rotate(-55deg);
    -moz-transform: translate(3px, -2px) rotate(-55deg);
  }
  40% {
    transform: translate(8px, -1px) rotate(-55deg);
    -webkit-transform: translate(8px, -1px) rotate(-55deg);
    -moz-transform: translate(8px, -1px) rotate(-55deg);
  }
}
.l-arm {
  position: absolute;
  background: #9c4231;
  width: 25px;
  height: 190px;
  border-radius: 20px;
  left: 240px;
  top: -320px;
  z-index: 1;
  -webkit-animation: moveleftarm 1s infinite linear;
  -moz-animation: moveleftarm 1s infinite linear;
  -ms-animation: moveleftarm 1s infinite linear;
  -o-animation: moveleftarm 1s infinite linear;
  animation: moveleftarm 1s infinite linear;
}

.l-sleeve {
  position: absolute;
  background: #ed9a18;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 30px;
  height: 50px;
}

.l-a-shadow {
  position: absolute;
  background: #8a3828;
  width: 100%;
  height: 5%;
  top: 25%;
}

.pelvic-reg {
  position: absolute;
  background: #0073b5;
  border-radius: 40px;
  width: 80px;
  height: 60px;
  top: -195px;
  left: 90px;
  z-index: 4;
  -webkit-animation: movechest 1s infinite linear;
  -moz-animation: movechest 1s infinite linear;
  -ms-animation: movechest 1s infinite linear;
  -o-animation: movechest 1s infinite linear;
  animation: movechest 1s infinite linear;
}

/* RIGHT LEG */
/*ROTATION ANIMATION for Right THIGH~ CW*/
@-webkit-keyframes thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-78deg);
    -o-transform: rotate(-78deg);
    -ms-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
    transform: rotate(-78deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@-moz-keyframes thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-78deg);
    -o-transform: rotate(-78deg);
    -ms-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
    transform: rotate(-78deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@-ms-keyframes thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-78deg);
    -o-transform: rotate(-78deg);
    -ms-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
    transform: rotate(-78deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@-o-keyframes thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-78deg);
    -o-transform: rotate(-78deg);
    -ms-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
    transform: rotate(-78deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@keyframes thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-78deg);
    -o-transform: rotate(-78deg);
    -ms-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
    transform: rotate(-78deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
.r-thigh {
  position: absolute;
  background: #bd5239;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 20px;
  width: 26px;
  height: 190px;
  top: -160px;
  left: 100px;
  -moz-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);
  transform: rotate(-75deg);
  z-index: 6;
  transform-origin: left top;
  -webkit-animation: thigh-rot 1s infinite linear;
  -moz-animation: thigh-rot 1s infinite linear;
  -ms-animation: thigh-rot 1s infinite linear;
  -o-animation: thigh-rot 1s infinite linear;
  animation: thigh-rot 1s infinite linear;
}

.r-pants {
  position: absolute;
  background: #0073b5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 48px;
  height: 95px;
  left: -10px;
}

.r-shadow {
  position: absolute;
  background: #8a3828;
  width: 100%;
  height: 7%;
  top: 65%;
}

/*ROTATION ANIMATION for Right CALF ~ CW*/
@-webkit-keyframes right-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  20% {
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  40% {
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  80% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  90% {
    -moz-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
  }
  95% {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-moz-keyframes right-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  20% {
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  40% {
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  80% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  90% {
    -moz-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
  }
  95% {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-ms-keyframes right-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  20% {
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  40% {
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  80% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  90% {
    -moz-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
  }
  95% {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-o-keyframes right-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  20% {
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  40% {
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  80% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  90% {
    -moz-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
  }
  95% {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes right-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  20% {
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  40% {
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  80% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  90% {
    -moz-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
  }
  95% {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.r-calf {
  position: absolute;
  background: #bd5239;
  border-radius: 40px;
  width: 28px;
  height: 100px;
  top: 165px;
  left: 17px;
  -moz-transform: rotate(95deg);
  -o-transform: rotate(95deg);
  -ms-transform: rotate(95deg);
  -webkit-transform: rotate(95deg);
  transform: rotate(95deg);
  -webkit-animation: right-calf-rot 1s infinite linear;
  -moz-animation: right-calf-rot 1s infinite linear;
  -ms-animation: right-calf-rot 1s infinite linear;
  -o-animation: right-calf-rot 1s infinite linear;
  animation: right-calf-rot 1s infinite linear;
  transform-origin: left top;
}

/* LEFT LEG */
/*ROTATION ANIMATION for LEFT THIGH~ CW*/
@-webkit-keyframes left-thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  50% {
    -moz-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
}
@-moz-keyframes left-thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  50% {
    -moz-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
}
@-ms-keyframes left-thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  50% {
    -moz-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
}
@-o-keyframes left-thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  50% {
    -moz-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
}
@keyframes left-thigh-rot {
  0%,
  100% {
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  50% {
    -moz-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
}
.l-thigh {
  position: absolute;
  background: #9c4231;
  border-radius: 40px;
  width: 28px;
  height: 185px;
  top: -160px;
  left: 135px;
  -moz-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  -webkit-transform: rotate(-22deg);
  transform: rotate(-22deg);
  z-index: 1;
  transform-origin: left top;
  -webkit-animation: left-thigh-rot 1s infinite linear;
  -moz-animation: left-thigh-rot 1s infinite linear;
  -ms-animation: left-thigh-rot 1s infinite linear;
  -o-animation: left-thigh-rot 1s infinite linear;
  animation: left-thigh-rot 1s infinite linear;
}

.l-pants {
  position: absolute;
  background: #066da2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 48px;
  height: 95px;
  left: -10px;
}

.l-shadow {
  position: absolute;
  background: #8a3828;
  width: 100%;
  height: 7%;
  top: 65%;
}

/*ROTATION ANIMATION for Left CALF ~ CW*/
@-webkit-keyframes left-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  38% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  70% {
    -moz-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
  }
}
@-moz-keyframes left-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  38% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  70% {
    -moz-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
  }
}
@-ms-keyframes left-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  38% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  70% {
    -moz-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
  }
}
@-o-keyframes left-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  38% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  70% {
    -moz-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
  }
}
@keyframes left-calf-rot {
  0%,
  100% {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  38% {
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
  70% {
    -moz-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
  }
}
.l-calf {
  position: absolute;
  background: #9c4231;
  border-radius: 40px;
  width: 28px;
  height: 150px;
  top: 155px;
  left: 17px;
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation: left-calf-rot 1s infinite linear;
  -moz-animation: left-calf-rot 1s infinite linear;
  -ms-animation: left-calf-rot 1s infinite linear;
  -o-animation: left-calf-rot 1s infinite linear;
  animation: left-calf-rot 1s infinite linear;
  transform-origin: left top;
}

/* Socks & shoes */
.sock {
  position: absolute;
  background: white;
  border-radius: 10px;
  width: 100%;
  height: 80px;
  top: 40px;
}

/* darker colored sock on left leg ~ shadow */
.darker {
  background: #dedede;
}

/*blue stripe on sock*/
.blue-top {
  position: absolute;
  background: #0073b5;
  width: 100%;
  height: 30px;
}

#dark-blue {
  background: #006aad;
}

.shoe-base {
  position: absolute;
  background: #0073b5;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 10px;
  width: 235%;
  height: 22px;
  top: 90px;
  left: -8px;
}

.shoe-lining {
  position: absolute;
  width: 100%;
  height: 25%;
  background: white;
  top: 90%;
}

.toecap {
  position: absolute;
  background: #006aad;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 40%;
  height: 85%;
  top: 8%;
  right: 1px;
}

.heelcap {
  position: absolute;
  height: 50%;
  width: 30%;
  background: #0073b5;
  top: -40%;
}

.shoetongue {
  position: absolute;
  height: 90%;
  width: 30%;
  background: #0073b5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  top: -85%;
  left: 28%;
}

.lace1, .lace2 {
  position: absolute;
  height: 12%;
  width: 40%;
  background: white;
}

.lace1 {
  left: 25%;
  top: -35%;
}

.lace2 {
  left: 25%;
  top: -20%;
}

.pedal {
  position: absolute;
  background: #424242;
  border-radius: 40px;
  width: 50%;
  height: 40%;
  top: 133%;
  left: 20%;
  transform-origin: left top;
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
